# MacOS filesystem stuff
.DS_Store

# The main executable
cg2017

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
#*.obj # commented out because we need .obj models

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
